h1{color:blue;}
/*esto es u comentario*/
/* esto
*es
*un comentario multilinea*/

body{background-image:url(./image/cancah.jpg); background-repeat: no-repeat; background-size: cover;}
*{color: lightpink;} /*esto es para el color del texto*/
#modelodecaja{
    width: 320px;
    padding: 10px;
    border: 15px solid rgb(243, 1, 1);
    margin: 20;
  }