h1{color:blue;}
/*esto es u comentario*/
/* esto
*es
*un comentario multilinea*/
#foto{width: 10%; height: 10%; position:relative; left: 100px;}

body{background-image:url(./image/cancah.jpg); background-repeat: no-repeat; background-size: cover;}
*{color: lightpink;} /*esto es para el color del texto*/
#cajaejemplo {
  width: 30px;
  border: 15px solid rgb(243, 1, 1); /*una oropiedad puede recibir varios valores y los separo cone espacio tipo priemro tamaño , tipo de linea y color*/ 
  padding: 50px;
  margin: 20;
  }
#sobre{position:fixed; bottom: 30px;right: 20px;}
header{
position: sticky;
position: -webkit-sticky;
top: -1px;
background-color: grey;
}
menu{list-style-type:none;
}
menu > a > li{display:inline;
float: right ;  }

#logo-header{width:5% ; display: none;
}
footer{position: fixed;
   bottom:0px;}
   .col{border:1px solid white ;}
   .col-8{border:1px solid white ;}
.btn{background-color: grey;
border: grey;}
#menu{position: relative;
  right:0px;}
  table{border: 1px solid white;}

  td{border: 1px solid white;}
  th{border: 1px solid white;}
  @media screen and (min-width: 480px){body{background-color: lightgreen;}#logo-header {display : inline;
}}
  